body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: sans-serif;
}

.logo-container {
    text-align: center;
}

.logo {
    padding-top: 10px;
    max-width: 120px;
    animation: fadein 1.2s;
    padding-top: 10px;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
}

th,
td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: none;
}

td {
    max-width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.provider {
    text-align: left;
}

a {
    color: #fff;
    text-decoration: none;
}

tbody tr {
    display: table-row;
}

tbody tr.hide {
    display: none;
}
